body, html{
    display: flex;
    flex-direction: column;
    margin: 0px;
}

/* ==================================
                MAIN 
====================================*/

#main{
    margin-left: 180px;
    padding: 0px 10px;
    border-left: 1px solid black;
}


/* ==================================
                SIDEBAR 
====================================*/

#navBar.open{
    list-style-type: none;
    margin-top: 0px;
    height: 100%;
    width:140px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: coral;
    overflow-x: hidden;
    padding-top: 20px;

}

#navBar {
    list-style-type: none;
    margin-top: 0px;
    height: 100%;
    width:140px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: coral;
    overflow-x: hidden;
    padding-top: 20px;
}

#navBar li {
    padding: 6px 8px 6px 16px;
    font-size: 25px;
    color: black;
    transition: background-color .2s;
}

#navBar li:hover {
    background-color: white;
}

#navBar a {
    text-decoration: none;
    cursor: default;
    display: block;
}
a:visited{
    color: black;
}