body{
    text-align: center;
    display: flex;
    flex-direction: column;
    place-content: center;
}

#square {
    width: 200px;
    height: 200px;
    
    
    margin: auto;
    align-self: left;
    background-color: #c3f9a0;
    text-align: center;
    transition: height 2s, background-color 2s, width 2s;
}
#square.fullHeight{
    height:500px;
    background-color: coral;
    align-self: right;
}
#square.alignOther{
    width: 800px;
}

#changeColor{
    width: 100px;
    align-self: center;
}
