@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

body, html{
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: "Roboto", sans-serif;
}

/* ==================================
                MAIN 
====================================*/
#main{
    margin-left: 40px;
    margin-top: 0px;
    padding: 0px 10px;
    transition: margin-left .4s, margin-top .5s;
}

#main.open{
    margin-left: 180px;
    margin-top: 50px;
    padding: 0px 10px;
    transition: margin-left .4s, margin-top .5s;
}

#main-body{
    margin: auto;
    /* margin-top: 250px; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}

/* ==================================
                SIDEBAR 
====================================*/
/* @keyframes wobbly{
    0% { clip-path: ; } 
   10% {  } 
   20% { } 
   40% { } 
   60% {  } 
   80% {  } 
   100% {  }
} */
/* This class is for when I try to make my sidebar slide open upon hover */
#navBar.open{
    list-style-type: none;
    margin-top: 0px;
    height: 100%;
    width:140px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: coral;
    overflow-x: hidden;
    padding-top: 20px;
    animation-name: wobbly;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: width .4s;

}

#navBar {
    list-style-type: none;
    margin-top: 0px;
    height: 100%;
    width:0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: coral;
    overflow-x: hidden;
    padding-top: 20px;
    animation-name: wobbly;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: width .4s;
}

#navBar li {
    padding: 6px 8px 6px 16px;
    font-size: 25px;
    color: black;
    /* border-radius: 20px; */
    transition: background-color .2s;
}

#navBar li:hover {
    background-color: white;
}

#navBar a {
    text-decoration: none;
    cursor: default;
    display: block;
}
a:visited{
    color: black;
}


/* ==================================
                Image-Wheel 
====================================*/

.ferrisWheelImages{
    height: 300px;
    width: auto;
    border-radius: 5px;
    /* border: 1px solid black; */
    box-shadow: 3px 5px rgb(240, 239, 239);
}
#imageWheel{
    display: flex;
    flex-direction: column;
    justify-content: center;
}